.container {
  padding: 50px;
  text-align: center;
  max-width: 400px;
  margin: 80px auto;
  background-color: var(--color-bg-surface);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  color: var(--color-text-base);
}
.switchText {
  margin-top: 15px;
  font-size: 14px;
  color: var(--color-text-muted);
}

.formGroup {
  margin-bottom: 15px;
  text-align: left;
}

.label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #555;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  color: var(--color-text-base);
  background-color: #fff;
}

.input:focus {
  border-color: var(--color-primary);
}

.button {
  width: 100%;
  padding: 12px;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgotPasswordContainer {
  text-align: right;
  margin-bottom: 15px;
  font-size: 14px;
}

.button:hover {
  background-color: var(--color-primary-hover);
}
.link:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
  }